<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Skyreach.Test.Image" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Skyreach.Test.Image>
            <setting name="ImageSize" serializeAs="String">
                <value>968, 648</value>
            </setting>
            <setting name="TileSize" serializeAs="String">
                <value>512, 512</value>
            </setting>
            <setting name="Components" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Layers" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Decompositions" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Progression" serializeAs="String">
                <value>RPCL</value>
            </setting>
            <setting name="TestImageName" serializeAs="String">
                <value>test.jp2</value>
            </setting>
            <setting name="TileCount" serializeAs="String">
                <value>2, 2</value>
            </setting>
        </Skyreach.Test.Image>
    </applicationSettings>
</configuration>